<h1>Admin page</h1>

<h2>Statistiques globales</h2>

<table>
	<tr>
		<th>Authentifications réussies</th>
		<th>Authentifications ratées</th>
		<th>Hacks réussis</th>
		<th>Hacks arrétés</th>
		<th>Enregistrements moyens au signup</th>
		<th>Enregistrements moyens au login</th>
	</tr>
	<tr>
		<td>{{percentages.success}}%</td>
		<td>{{percentages.fails}}%</td>
		<td>{{percentages.hacks}}%</td>
		<td>{{percentages.hackAttempts}}%</td>
		<td>{{percentages.enrollSamples}}</td>
		<td>{{percentages.loginSampples}}</td>
	</tr>
</table>

<br/><br/>

<h2>Statistiques par date</h2>

<table>
	<tr>
		<th>Date</th>
		<th>Authentifications réussies</th>
		<th>Authentifications ratées</th>
		<th>Hacks réussis</th>
		<th>Hacks arrétés</th>
	</tr>

{{#each stats}}
	<tr>
		<td>{{date}}</td>
		<td>{{successLogins}}</td>
		<td>{{failedLogins}}</td>
		<td>{{hacks}}</td>
		<td>{{hacksPrevented}}</td>
	</tr>
{{/each}}

</table>